.calendar-day.free{
    background-color: rgba(0, 170,0, 0.1);
}

.calendar-day.full{
    background-color: rgba(189, 69, 75, 0.1)
}
.calendar-day.odd{
    background-color: #f6f7f8;
}

.calendar-issue-item{
    background-color: rgba(58, 148, 58, 0.81);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    position: relative;
}

.calendar-issue-tooltip{
    position: absolute;
    max-width: 300px;
    width: 300px;
    background-color: white;
    color: black;
    border: 1px solid #222;
    padding: 10px;
    display: none;
    z-index: 100;
    border-radius: 5px;
}

.calendar-issue-tooltip .tooltip-header{
    font-weight: bold;
}

.calendar-issue-item a{
    color: white;
}

.calendar-issue-item a:hover > .calendar-issue-tooltip{
    display: block;
}

a.new-issue-calendar{
    display: block;
    text-align: center;
    border: 1px dotted gray;
    margin: 5px 0;
    border-radius: 5px;
    color: gray;
    font-weight: bold;
    background: rgba(128, 128, 128, 0.2);
}
